body {
    font-family: Helvetica;
    margin-left: 1em;
}
label {
    padding-left: 1em;
}
.pull-right {
    float: right;
}
.answers {
    margin-bottom: 10px;
}

button {
    border-color: #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    border-width: 0;
}

h2 {
    margin-bottom: 10px;
}

#questions {
    counter-reset: list;
}

#questions > div {
    margin-bottom: 30px;
    clear: left;
}

#questions > div::before {
    display: inline-block;
    padding-right: 10px;
    content: counter(list);
    counter-increment: list;
    font-size: 80px;
    color: #dcdcdc;
}

.guardian {
    float: right;
    width: 300px;
}

.goGreen {
    color: green;
}

.custom-radio-button > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.custom-radio-button > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

.custom-radio-button > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid red;
}


#result{
    margin-top: 12px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
